<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>News-Letter-Signup</title>
</head>
<body>
    <div class="container">
        <img src="/imgs/tlou2.jpg" alt="Friendly image">
        <!-- create a sign up form -->
        <form class="signup-form" action="/" method="post">
            <h1>Sign Up to your Newsletter</h1>

            <label for="First-name">First Name:</label>
            <input type="text" name="Fname" placeholder="First Name" required autofocus>

            <label for="Last-name">Last Name:</label>
            <input type="text" name="Lname" placeholder="Last Name" required>

            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" required>

            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>
