<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #008000; /* Green color for success */
        }
        a{
            text-decoration: none;
            color: #008000;
            font-weight: bold;
        }
        img {
            max-width: 100%; /* Ensure the image doesn't exceed its container */
            height: auto; /* Maintain aspect ratio */
            margin-bottom: 20px; /* Add margin below the image */
        }
        .btn-container {
            margin-top: 20px; /* Add margin above the button container */
            text-align: center; /* Center align the button */
        }
        .btn {
            padding: 10px 20px;
            background-color: #008000;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #006400; /* Darker shade of green on hover */
        }
    </style>
</head>
<body>
    <h1>You're Welcome!</h1>
    <img src="https://gifdb.com/images/high/you-re-welcome-disney-maui-1hfzire1uznq4ugp.gif" alt="You're welcome GIF">
    <div class="btn-container">
        <a class="btn" href="/">Try Again</a>
    </div>
</body>
</html>
